body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 16px;
}

h1 {
  text-align: center;
  font-family: 'Bertram Let', sans-serif;
  font-size: 65px;
  color: #eec303;
  text-decoration: underline;
  margin-bottom: 12px;
}

.Introduction {
  text-align: left;
  font-family: 'BernhardFashion BT', sans-serif;
  font-size: 34px;
  color: #fa5e5e;
  font-style: italic;
  margin-bottom: 20px;
}

.gif-title {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  color: rgb(187, 1, 1);
  margin-top: 18px;
  margin-bottom: 8px;
}

.solar-system-gif {
  display: block;
  margin: 0 auto;
  width: 33%;
  margin-bottom: 8px;
}

.solar-system-text {
  text-align: center;
  font-family: 'BernhardFashion BT', sans-serif;
  font-size: 20px;
  color: #d602a8;
  margin: 30px;
  margin-bottom: 20px;
}

.planet-gif-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.table-intro-text {
  text-align: center;
  font-family: 'BernhardFashion BT', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #ce0202;
  margin-bottom: 8px;
}

#Facts-About-Planets {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: rgb(253, 91, 91);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#Facts-About-Planets th, #Facts-About-Planets td {
  border: 1px solid #ffd901;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

#Facts-About-Planets th {
  background-color: #f86c81;
  color: #FFD700;
  font-weight: bold;
}

#Facts-About-Planets td {
  background-color: white;
  color: rgb(0, 89, 255);
}

#Facts-About-Planets td:first-child {
  font-weight: bold;
  color: #ffc400;
}

#Facts-About-Planets tr:nth-child(even) {
  background-color: #fd5a5a;
}

#Facts-About-Planets tr:hover {
  background-color: #ff5858;
}

header {
  padding-bottom: 20px;
}

.planet {
  text-align: center;
  font-family: 'BernhardFashion BT', sans-serif;
  font-size: 20px;

}

.planet-gif {
  width: 150px;
  height: 150px;
  border: 1px solid #ffbb01;
}

.info-list {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  list-style-type: none;
}

.info-list li {
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.info-list li span {
  color: rgb(2, 160, 2);
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 0;
}
